* {
    background-color: black;
}

/* usado pra ajustar a foto do Carousel */

.imagem1{
    height: auto; 
    width: auto; 
    max-width: 1000px; 
    max-height: 500px;
    margin-left: 11rem;
    border: solid 3px #f1af09;
    border-bottom: solid rgb(161, 35, 35) 5px;
    border-top: solid rgb(161, 35, 35) 5px;
    border-radius: 10px;
}

/* usado pra ajustar o background do título */

.div1{
    margin-top: 15px;
}

/* usado para o título */

.title{
    background-image: linear-gradient(to top, red,rgb(158, 25, 25), #8a6406, #c58f05, #f1af09 );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 0;
}

/* usado pra dar margem a um botão e outro */

.botao{
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: -5px;
}

/* usado pra alterar o que está por fora (do lado direito e esquerdo) do background onde está a letra da música */

.div2{
    box-sizing: border-box;
    background-color: black;
}

/* é a div onde está a letra das músicas */

.div3{
    box-sizing: border-box;
    margin-right: 150px;
    margin-left: 150px;
    height: 55rem;

}

/* divs usadas pra ajustar o tamanho de cada página de acordo do tamanho da música */

.tam{
    height: 110rem;
}

.tam1{
    height: 100rem;
}

.tam2{
    height: 110rem;
}

.tam3{
    height: 95rem;
}

.tam4{
    height: 65rem;
}

.tam5{
    height: 105rem;
}
.tam6{
    height: 80rem;
}

.tam7{
    height: 120rem;
}
/*----------end---------*/


/* usado pra o título de cada música dentro da div3 */

.titulo{
    text-decoration: underline;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    background-color: white;
}

/* usado pra ajustar cada frase da música */

.texto{
    margin-left: 20px;
    font-weight: 800;
    display: flex;
    margin-bottom: 0;

    font-size: 20px;
    
    background-color:white;
}

/* cor das letras */

.red{
    color: red;
}

.blue{
    color: rgb(0, 119, 255);
}

.rosa{
    color: palevioletred;
}

.orange{
    color: orangered;
}

.roxo{
    color: rebeccapurple;
}

.green{
    color: rgb(57, 204, 57);
}
/*--------end---------*/

/* usado pra padronizar a todos os exemplos que estão no final de cada letra de música */

.nav{
    margin-top: 50px;
    background-color: white;
}

.nav1{
    background-color: white;
}
/*--------end-------*/


/* palheta de cores para quadrado usado de exemplo para pantente de vozes */

.back{
    margin-top: 9px;
    margin-left: 20px;
    height: 20px;
    width: 20px;
    border: red 3px solid;
    background-color: red;
}

.back1{
    margin-top: 9px;
    margin-left: 20px;
    height: 20px;
    width: 20px;
    border: black 3px solid;
    background-color: black;
}

.back2{
    margin-top: 9px;
    margin-left: 20px;
    height: 20px;
    width: 20px;
    border: rgb(0, 119, 255) 3px solid;
    background-color: rgb(0, 119, 255);
}

.back3{
    margin-top: 9px;
    margin-left: 20px;
    height: 20px;
    width: 20px;
    border: palevioletred 3px solid;
    background-color: palevioletred;
}

.back4{
    margin-top: 9px;
    margin-left: 20px;
    height: 20px;
    width: 20px;
    border: orangered 3px solid;
    background-color: orangered;
}

.back5{
    margin-top: 9px;
    margin-left: 20px;
    height: 20px;
    width: 20px;
    border: rebeccapurple 3px solid;
    background-color: rebeccapurple;
}

.back6{
    margin-top: 9px;
    margin-left: 20px;
    height: 20px;
    width: 20px;
    border: rgb(57, 204, 57) 3px solid;
    background-color: rgb(57, 204, 57);
}
/*---------end----------*/


/* usado pra alterar cor ou fonte de cada div no exemplo de cada patente */

.h3{
    color: black;
    margin-left: 10px;
    background-color: white;
}

.h31{
    color: black;
    margin-left: 50px;
    margin-top: -29px;
    background-color: white;
}

/*-------end-------*/


/* usado para a div dos botões */
.reto{
    display: flex;
    justify-content: center;
    border-bottom: double rgb(161, 35, 35) 3px;
}

/*------end-------*/

/* Responsividade */

@media only screen and (min-width: 320px) and (max-width: 1271px) {

    .imagem1{
        height: min-content;
        margin: auto;
    }
}



@media only screen and (min-width: 320px) and (max-width: 953px){

    .title{
        text-align: center;
    }

    .div3{
        margin: auto;
        height: auto;

    }


    .botao{
        width: 90%;
        display: flex;
        margin-bottom: -16px;
    }


    .reto{
        display: flex;
        justify-content: center;
        justify-items: center;
        flex-direction: column;
    }
}

/* -------End------ */