html{
    scroll-margin-top: 20px;
    scroll-behavior: smooth;
}

* {
    background-color: black;
}

::selection{
    background-color: rgb(161, 35, 35);
    color: #f1af09;
}

/* usado pra ajustar a foto do Carousel */

.imagem1{
    height: auto; 
    width: auto; 
    max-width: 1000px; 
    max-height: 500px;
    margin-left: 11rem;
    border: solid 3px #f1af09;
    border-bottom: solid rgb(161, 35, 35) 5px;
    border-top: solid rgb(161, 35, 35) 5px;
    border-radius: 10px;
    margin-bottom: 40px;
}

/* usado pra ajustar o background do título */

.div1{
    margin-top: 15px;
}

/* usado para o título */

.title{
    background-image: linear-gradient(to top, red,rgb(158, 25, 25), #8a6406, #c58f05, #f1af09 );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 0;
}


.title:hover{
    transition: .5s ease all;
    color: rgb(158, 25, 25);
    text-decoration: none;
}

/* usado pra dar margem a um botão e outro */

.botao{
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: -5px;
}

/* usado pra alterar o que está por fora (do lado direito e esquerdo) do background onde está a letra da música */

.div2{
    box-sizing: border-box;
    background-color: black;
}

/* é a div onde está a letra das músicas */

.div3{
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    margin-right: 150px;
    margin-left: 150px;
    height: 55rem;
    
}

/* botoes */

.botao20:hover{
    width: 100%;
}

.btn .btn-outline-danger{
    height: 10px;
    margin-bottom: 10px;
}



.lista{
    background-color: rgb(161, 35, 35);
    margin-left: 10%;
    margin-right: 10%;
}

/* divis dos botões das letras */

.bdiv1{
    margin-top: 0px;
}

.bdiv2{
    margin-top: -10px;
}







/* divs usadas pra ajustar o tamanho de cada página de acordo do tamanho da música */

.tam{
    height: auto;
}

.tam1{
    height: auto;
}

.tam2{
    height: auto;
}

.tam3{
    height: auto;
}

.tam4{
    height: auto;
}

.tam5{
    height: auto;
}
.tam6{
    height: auto;
}

.tam7{
    height: auto;
    width: auto;
}
/*----------end---------*/

/* audio */
.audio{
    border-radius: 50px; 
    border-top: ridge 3px rgb(158, 25, 25);
    border-right: solid 3px #c58f05;
    border-left: solid 3px #c58f05;
    border-bottom: rgb(158, 25, 25) double 3px;
    width: 100%;
    display: flex;
    
}


/* usado pra o título de cada música dentro da div3 */

.titulo{
    text-decoration: underline;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    background-color: white;
}

/* usado pra ajustar cada frase da música */

.texto{
    margin-left: 20px;
    font-weight: 800;
    display: flex;
    margin-bottom: 0;

    font-size: 20px;
    
    background-color:white;
}

/* cor das letras */

.red{
    color: red;
}

.blue{
    color: rgb(0, 119, 255);
}

.rosa{
    color: palevioletred;
}

.orange{
    color: orangered;
}

.roxo{
    color: rebeccapurple;
}

.green{
    color: rgb(57, 204, 57);
}
/*--------end---------*/

/* usado pra padronizar a todos os exemplos que estão no final de cada letra de música */

.nav{
    margin-top: 50px;
    background-color: white;
}

.nav1{
    background-color: white;
}
/*--------end-------*/


/* palheta de cores para quadrado usado de exemplo para pantente de vozes */

.back{
    margin-top: 9px;
    margin-left: 20px;
    height: 20px;
    width: 20px;
    border: red 3px solid;
    background-color: red;
}

.back1{
    margin-top: 9px;
    margin-left: 20px;
    height: 20px;
    width: 20px;
    border: black 3px solid;
    background-color: black;
}

.back2{
    margin-top: 9px;
    margin-left: 20px;
    height: 20px;
    width: 20px;
    border: rgb(0, 119, 255) 3px solid;
    background-color: rgb(0, 119, 255);
}

.back3{
    margin-top: 9px;
    margin-left: 20px;
    height: 20px;
    width: 20px;
    border: palevioletred 3px solid;
    background-color: palevioletred;
}

.back4{
    margin-top: 9px;
    margin-left: 20px;
    height: 20px;
    width: 20px;
    border: orangered 3px solid;
    background-color: orangered;
}

.back5{
    margin-top: 9px;
    margin-left: 20px;
    height: 20px;
    width: 20px;
    border: rebeccapurple 3px solid;
    background-color: rebeccapurple;
}

.back6{
    margin-top: 9px;
    margin-left: 20px;
    height: 20px;
    width: 20px;
    border: rgb(57, 204, 57) 3px solid;
    background-color: rgb(57, 204, 57);
}
/*---------end----------*/


/* usado pra alterar cor ou fonte de cada div no exemplo de cada patente */

.h3{
    color: black;
    margin-left: 10px;
    background-color: white;
}

.h31{
    color: black;
    margin-left: 50px;
    margin-top: -29px;
    background-color: white;
}

/*-------end-------*/


/* usado para a div dos botões */
.reto{
    display: flex;
    justify-content: center;
    border-bottom: double rgb(161, 35, 35) 3px;
}

/*------end-------*/


/* Responsividade */

@media only screen and (min-width: 320px) and (max-width: 1271px) {

    #contatos{
        margin-top: 5rem;
    }

    #letras{
        margin-top: 10rem;
    }

    body{
        box-sizing: border-box;
        width: auto;
    }

    .imagem1{
        height: min-content;
        margin: auto;
    }


}
@media only screen and (min-width: 320px) and (max-width: 600px) {

    .botao1{
        height: 5rem;
    }

    body{
        box-sizing: border-box;
        width: 100%;
    }

    .imagem1{
        height: min-content;
        margin: auto;
    }

    .tam7{
        width: 30rem;
    }
}



@media only screen and (min-width: 320px) and (max-width: 953px){

    .botao1{
        height: 5rem;
    }
    
    body{
        box-sizing: border-box;
        width: 100%;
    }


    #menuToggle{
        margin-top: -20px;
        margin-left: -40px;
    }
    .title{
        text-align: center;
    }

    .div3{
        margin: auto;
        height: auto;
        margin-bottom: 10px;
    }


    .botao{
        width: 90%;
        display: flex;
        margin-bottom: -16px;
    }


    .reto{
        display: flex;
        justify-content: center;
        justify-items: center;
        flex-direction: column;
    }

    .btn-outline-dark{
        margin-top: 10px;
    
    }
}



/* -------End------ */

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

 body
 {
   margin: 0;
   padding: 0;
   
   /* make it look decent enough */
   background: #232323;
   color: #cdcdcd;
   font-family: "Avenir Next", "Avenir", sans-serif;
 }
 
 #menuToggle
 {
   display: block;
   position: relative;
   top: 30px;
   left: 50px;
   
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #232323;
   
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color: tomato;
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: linear-gradient(to top, red,rgb(158, 25, 25), #bb420a, #c58f05, #f1af09 );
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: linear-gradient(to top, red,rgb(158, 25, 25), #bb420a, #c58f05, #f1af09 );
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
     margin-bottom: 10px;
    background: linear-gradient(to top, red,rgb(158, 25, 25), #bb420a, #c58f05, #f1af09 );
   padding: 10px 0;
   font-size: 22px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }